<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Login - PM Tool</title>
		<link rel="stylesheet" href="/res/public/login/css/style.css">

		<!-- Favicon, see https://wiki.selfhtml.org/wiki/Grafik/Favicon -->
		<link rel="shortcut icon" href="/res/public/favicon/favicon.ico">
		<link rel="icon" type="image/png" href="/res/public/favicon/favicon_32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/res/public/favicon/favicon_64.png" sizes="64x64">
		<link rel="icon" type="image/png" href="/res/public/favicon/favicon.png" sizes="128x128">
		<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png"> -->
	</head>
	<body>
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Login</h1>
				</div>

				<form action="{{form_action}}" method="post">
					<div class="login-form">
						{{#is_error}}
							<div class="control-group alert alert-primary alert-danger" role="alert">
								Invalid credentials</div>
						{{/is_error}}

						<div class="control-group">
							<input type="text" name="username" class="login-field" value="" placeholder="username" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
							<input type="password" name="password" class="login-field" value="" placeholder="password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<!-- csrf token -->
						<input type="hidden" name="{{csrf_parameter_name}}" value="{{csrf_token}}"/>

						<input type="submit" class="btn btn-primary btn-large btn-block" value="{{#i18n}}login{{/i18n}} " />
						<!-- <a class="login-link" href="#">Lost your password?</a> -->
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
